[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "grafana_api"

[packages]
pyyaml = "==5.1"
requests = "~=2.21"

[dev-packages]
coverage = "*"
python-coveralls = "~=2.9"
unittest-xml-reporting = "~=2.5"
